// Color Variables

$color-white:        #fffefe;
$color-light-gray:   #ecedec;
$color-gray:         #676766;
$color-dark-gray:    #3c3d3c;
$color-accent-teal:   #007a82;
$color-accent-yellow: #ffba0c;
