@use 'colors' as *;
@use 'sizing' as *;

// mixin for changing button color
@mixin button-color($color: #676766, $background) {
  color: $color;
  background: $background;
}

// mixin for setting button sizes
@mixin button-size() {
  padding: size(4) size(8);
  border-radius: size(16);
}

// mixin to create bullet point
@mixin point-style {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: $color-accent-yellow;
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -35%);
  right: - size(8);
}
