@use '../utils' as *;

.banner {

  background: $color-light-gray;

  &__content {
    padding-bottom: size(24);
  }

  &__primaryheading {
    font: {
      family: "Bebas";
      size: size(20);
    }

    color: $color-dark-gray;
    line-height: 1;
  }

  &__secondaryheading {
    width: fit-content;
    font-size: size(4);
    position: relative;
    left: size(14);
    font-weight: 600;
    color: $color-accent-teal;
    margin-bottom: size(4);

    &::before {
      content: "";
      width: size(9);
      height: 3px;
      background-color: $color-accent-yellow;
      position: absolute;
      top: 50%;
      left: size(-14);
    }
  }

  &__text {
    color: $color-gray;
    width: 90%;
    margin-bottom: size(8);
  }

  &__button {
    @include button-size();
    @include button-color($color-white, $background: $color-accent-teal);
    margin-bottom: size(8);
  }

  &__links {
    margin: 0;
    padding: 0;
    color: $color-gray;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: size(4) size(16);

    a:hover {
      color: $color-accent-yellow;
    }

    li {
      position: relative;
    }

    li:nth-of-type(1)::after,
    li:nth-of-type(2)::after,
    li:nth-of-type(4)::after,
    li:nth-of-type(5)::after {
      @include point-style();
    }
  }

  &__image {
    height: 100%;
    align-self: flex-end;
  }
}

@media (max-width: 992px) {
  .banner {
    &__links {
      li::after {
        @include point-style();
      }
    }
  }
}

@media (min-width: 1400px) {
  .banner {
    &__links {
      max-width: 60%;
    }
  }
}
