@use '../utils' as *;
@use '../components' as *;

/* Card section styling */
.cards {
  transform: translateY(size(-16));

  &__wrap {
    max-width: 80%;
    margin: 0 auto;
  }

  &__item {
    @include card;

    p {
      @include card-text;
    }

    &:hover {

      background: $color-accent-teal;

      .cards__heading {
        color: $color-accent-yellow;
      }

      p {
        color: $color-white;
      }
    }
  }

  &__heading {
    @include card-heading;
  }
}
