@use '../utils' as *;

// Header styling
.header {
  background: $color-light-gray;
  position: relative;

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: size(4) 0;

    .dropdown {
      display: none;
      color: #676766;
      border: 1px solid $color-gray;
      padding: size(1);
      border-radius: 5px;
      cursor: pointer;
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__toggle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &__logo {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
  }

  &__navbarlist {
    display: flex;
    margin: 0;
    padding: 0;
    gap: size(8);

    a {
      color: $color-gray;

      &:hover {
        cursor: pointer;
        color: $color-accent-yellow;
      }
    }
  }

  &__buttons {
    display: flex;

    a {
      @include button-size();
      @include button-color($background: inherit);

      &:hover {
        @include button-color($color-white, $color-accent-teal);
      }
    }

    .active {
      @include button-color($color-white, $color-accent-teal);
    }
  }
}

@media (max-width: 992px) {
  .header {

    .dropdown {
      display: block;
    }

    &__wrap {
      position: static;
    }

    &__logo {
      position: static;
      transform: translate(0);
    }

    &__toggle {
      border: 2px solid $color-accent-yellow;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      height: 0;
      overflow: hidden;
      background: $color-light-gray;
      padding: size(4) 0;
    }

    &__toggle.show {
      opacity: 1;
      height: auto;
    }

    &__navbarlist {
      flex-direction: column;
      text-align: center;
      gap: 0;

      a {
        padding: size(4) 0;
      }
    }
  }
}
