@use 'utils/mixins' as m;
@use 'utils/variables' as v;
@use 'base' as b;
@use 'layouts/header';
@use 'layouts/banner';
@use 'layouts/cards';

// Media query for header nav menu
@media (max-width: 992px) {
  .header {

    .dropdown {
      display: block;
    }

    &__wrap {
      position: static;
    }

    &__logo {
      position: static;
      transform: translate(0);
    }

    &__toggle {
      border: 2px solid v.$color-accent-yellow;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      opacity: 0;
      height: 0;
      overflow: hidden;
      background: v.$color-light-gray;
      padding: 1rem 0;
    }

    &__toggle.show {
      opacity: 1;
      height: auto;
    }

    &__navbarlist {
      flex-direction: column;
      text-align: center;
      gap: 0;

      a {
        padding: 1rem 0;
      }
    }
  }
}

// Extra small devices
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .banner {
    &__links {
      li::after {
        @include m.point-style();
      }
    }
  }
}

// Small devices
@media (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 13px;
  }

  .banner {
    &__links {
      li::after {
        @include m.point-style();
      }
    }
  }
}

// Medium devices
@media (min-width: 768px) and (max-width: 992px) {

  html {
    font-size: 14px;
  }

  .banner {
    &__links {
      li::after {
        @include m.point-style();
      }
    }
  }
}

// Large devices
@media (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}
